.card {
    display: grid;
    grid-template-areas: 
        "logo title"
        "logo description"
        "button toggle";

    width: 25rem;
    padding: 20px;

    border-color: var(--color-neutral-200);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
}

.card > * {
    padding: 0;
    margin: 0;
}

.card img {
    grid-area: logo;
    border-radius: 10px;
}

.card h3 {
    grid-area: title;
    color: var(--color-neutral-900);
    font: var(--font-preset-2);
}

.card p {
    grid-area: description;
    color: var(--color-neutral-600);
    font: var(--font-preset-5);
}

.card button {
    grid-area: button;
    color: var(--color-neutral-900);
    background-color: white;
    border-color: var(--color-neutral-300);
    border-width: 2px;
    border-style: solid;
    border-radius: 999px;
    font: var(--font-preset-6);

    padding: 8px;
}

.card input {
    --_toggle-height: 3rem;
    --_toggle-width: 6rem;
    --_toggle-padding: 10px;
    --_slider-radius: calc(var(--_toggle-height) - var(--_toggle-padding));
    --_slider-center-offset: calc((var(--_toggle-height) - var(--_slider-radius)) / 2);
    
    grid-area: toggle;
    appearance: none;
    
    position: relative;
    width: var(--_toggle-width);
    height: var(--_toggle-height);
    
    background-color: var(--color-red-400);
    border-radius: 999px;
    cursor: pointer;

    transition: 0.3s all ease-in-out;
}

.card input::before {
    content: "";
    position: absolute;
    top: var(--_slider-center-offset);
    transform: translateX(var(--_slider-center-offset));
    
    aspect-ratio: 1;
    height: var(--_slider-radius);
    
    background-color: white;
    border-radius: 999px;

    transition: 0.3s all ease-in-out;
}

.card input:checked::before {
    transform: translateX(calc(var(--_toggle-width) - 100% - var(--_slider-center-offset)));
}