.card {
    display: grid;
    grid-template-areas: 
        "logo title"
        "logo description"
        "button toggle";
    grid-template-rows: min-content 1fr 1fr;

    padding: 20px;

    border-color: var(--color-neutral-200);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;

    background: var(--layer1Color);
    box-shadow: 0 2px 2px 0px #c2cee161;
}

.card > * {
    padding: 0;
    margin: 0;
}

.card img {
    grid-area: logo;
    border-radius: 10px;
    margin-right: 1.2rem;
}

.card h3 {
    grid-area: title;
    color: var(--accentTextColor);
    font: var(--font-preset-2);

    margin-bottom: 0.5rem;
}

.card p {
    grid-area: description;
    color: var(--textColor);
    font: var(--font-preset-5);
}

.card button {
    align-self: end;
    grid-area: button;
    grid-column: span 2;
    grid-row: 3;

    color: var(--accentTextColor);
    background-color: inherit;
    border-color: var(--color-neutral-300);
    border-width: 2px;
    border-style: solid;
    border-radius: 999px;
    font: var(--font-preset-6);
    line-height: 1.0;
    cursor: pointer;

    padding: 8px;
    width: 5.7rem;
    height: 2.375rem;
}

.card span {
    display: none
}

.card label {
    align-self: end;

    display: flex;
    justify-content: end;
    align-items: center;
    grid-row: 3;
}

.card input {
    --_toggle-height: 1.25rem;
    --_toggle-width: 2.25rem;
    --_toggle-padding: calc(var(--_toggle-height) * 0.3);
    --_slider-radius: calc(var(--_toggle-height) - var(--_toggle-padding));
    --_slider-center-offset: calc((var(--_toggle-height) - var(--_slider-radius)) / 2);
    
    grid-area: toggle;
    appearance: none;
    
    position: relative;
    width: var(--_toggle-width);
    height: var(--_toggle-height);
    
    background-color: var(--color-neutral-200);
    border-radius: 999px;
    cursor: pointer;

    transition: 0.3s all ease-in-out;
}

.card input::before {
    content: "";
    position: absolute;
    top: var(--_slider-center-offset);
    transform: translateX(var(--_slider-center-offset));
    
    aspect-ratio: 1;
    height: var(--_slider-radius);
    
    background-color: white;
    border-radius: 999px;

    transition: 0.3s all ease-in-out;
}

.card input:checked {
    background-color: var(--color-red-700);
}

.card input:checked::before {
    transform: translateX(calc(var(--_toggle-width) - 100% - var(--_slider-center-offset)));
}