.filter-options {
    padding: 0.5rem;
    font: var(--font-preset-4);
}

.filter-options input {
    display: none;
}

.filter-options label:not(:last-child) {
    margin-right: 1rem;
}

.filter-options label {
    border: 1px solid var(--borderColor);
    color: var(--textAccentColor);
    font: inherit;
    cursor: pointer;
   
    border-radius: 999px;
    padding: 0.5rem 1rem;
    background-color: var(--primaryColor);
}

.filter-options label:has(input:checked) {
    background-color: var(--color-red-700);
    border: none;
    color: var(--textAccentOppositeColor);
}
