header {
    display: flex;
    background-color: var(--primaryColor);;
    border-radius: 20px;


    padding: 0.5rem 0.7rem;
    margin-bottom: 4rem;
}

.theme-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    aspect-ratio: 1;
    height: 3rem;
    padding: 0.3rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    background-color: var(--secondaryColor);
}

.theme-toggle img {
    width: 80%;
}