header {
    display: flex;
    background-color: var(--primaryColor);
    box-shadow: 0 2px 2px 0px var(--borderColor);
    border-radius: 20px;

    padding: 0.5rem 0.7rem;
    margin-bottom: 4rem;
}

.logo-text {
    fill: var(--textAccentColor);
}

.theme-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    aspect-ratio: 1;
    height: 3rem;
    padding: 0.3rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    background-color: var(--secondaryColor);
}

.theme-toggle img {
    width: 80%;
}