.layout-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 80rem;
    padding-block: 2rem;
}

header {
    display: flex;

    padding: 0.5rem;
}

header .theme-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    aspect-ratio: 1;
    height: 2rem;
}

.extension-select-header {
    display: flex;
    align-items: center;
}

