@font-face {
    font-family: NotoSans;
    src: url("./assets/fonts/static/notoSans-Medium.ttf") format("truetype");
}

body {
    font-family: NotoSans;
    min-height: 100vh;
    background: var(--bgGradient);

    /* Colors */
    --color-neutral-900: #091540;
    --color-neutral-800: #202535;
    --color-neutral-700: #2F364B;
    --color-neutral-600: #535868;
    --color-neutral-300: #C6C6C6;
    --color-neutral-200: #D6E2F5;
    --color-neutral-100: #EEEEEE;

    --color-red-400: #F25C54;
    --color-red-500: #DE4840;
    --color-red-700: #C7231A;
    --gradient-light: linear-gradient(#EBF2FC, #EEFBF9);
    --gradient-dark: linear-gradient(#04091B , #091540);

    /* Text */

    --font-preset-1: 2.125rem/1.0 NotoSans;
    --font-preset-2: 1.25rem/1.2 NotoSans;
    --font-preset-3: 1.25rem/1.4 NotoSans;
    --font-preset-4: 1.25rem/1.4 NotoSans;
    --font-preset-5: 1.0rem/1.4 NotoSans;
    --font-preset-6: 1.0rem/1.4 NotoSans;
}

.dark {
    --bgGradient: var(--gradient-dark);
    --primaryColor: var(--color-neutral-800);
    --secondaryColor: var(--color-neutral-700);
    --borderColor: var(--color-neutral-600);
    --textPrimaryColor: var(--color-neutral-300);
    --textAccentColor: var(--color-neutral-100);
    --textAccentOppositeColor: var(--color-neutral-900);
}

.light {
    --bgGradient: var(--gradient-light);
    --primaryColor: var(--color-neutral-100);
    --secondaryColor: var(--color-neutral-100);
    --borderColor: var(--color-neutral-200);
    --textPrimaryColor: var(--color-neutral-600);
    --textAccentColor: var(--color-neutral-900);
    --textAccentOppositeColor: var(--color-neutral-100);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea, select {
    font: inherit;
    color: inherit;
}