@font-face {
    font-family: NotoSans;
    src: url("./assets/fonts/static/notoSans-Medium.ttf") format("truetype");
}

body {
    font-family: NotoSans;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea, select {
    font: inherit;
    color: inherit;
}